# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# build database
build_database/.ropeproject
build_database/nvd
*.json

# keys / tokens
.env
server/.env
server/serviceAccount.json

# dep_check
microservices/dep_check/__pycache__
microservices/dep_check/db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
